body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #2c3e50;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tasiyici {
    text-align: center;
}
.baslik {
    font-size: 3em;
    margin-bottom: 30px;
}
}
.icerik {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.satir{
    padding:7px 0;
}
.formetiket{
    display:block;
    margin-bottom:5px;
    color:#525252;
}
.metinkutu{
    padding:10px;
    width:100%;
    font-size:11pt;
    box-sizing:border-box;
    border-radius:7px;
    border:1px solid silver;
}
    .metinkutu:focus {
        outline: 1px solid #c45a5a;
    }
    .sus{
        border-bottom:1px solid silver;
        margin:10px 0;
    }
.girisbutton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    .girisbutton:hover {
        background-color: #2980b9;
    }
.basarisizpanel {
    background-color: #ff9494;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid red;
    margin:15px 0;
}

